<!DOCTYPE html>
<html>
<head>
    <script src="/js/angular.min.js"></script>
    <title>第一个AngularJS程序</title>
</head>
<body >
<!--<div ng-app="myapp" ng-controller="HelloController" >
    <h2>你好 ！第一个{{helloTo.title}}程序示例</h2>
</div>-->
<!--<div ng-app="" ng-init="quantity=1;cost=30; student={firstname:'李',lastname:'刚',rollno:101};marks=[82,91,78,77,64]">
    <p>Hello {{student.firstname + " " + student.lastname}}!</p>
    <p>Expense on Books : {{cost * quantity}} Rs</p>
    <p>Roll No: {{student.rollno}}</p>
    <p>Marks(Math): {{marks[3]}}</p>
</div>-->
<div ng-app="mainApp" ng-controller="studentController">

    Enter first name: <input type="text" ng-model="student.firstName"><br><br>
    Enter last name: <input type="text" ng-model="student.lastName"><br>
    <br>
    您输入的名字是: {{student.fullName()}}
</div>
<script>
    angular.module("myapp", [])
            .controller("HelloController", function($scope) {
                $scope.helloTo = {};
                $scope.helloTo.title = "AngularJS";
            });

    var mainApp = angular.module("mainApp", []);

    mainApp.controller('studentController', function($scope) {
        $scope.student = {
            firstName: "李",
            lastName: "刚",
            fullName: function() {
                var studentObject;
                studentObject = $scope.student;
                return studentObject.firstName + " " + studentObject.lastName;
            }
        };
    });
</script>
</body>
</html>